.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--colors-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dragging {
  color:red;
  background-color:black;
}
path,
.MuiTypography-root {
  color:var(--colors-text);
}
.filter-label.MuiFormControlLabel-root {
  display:flex;
  padding-left:25px;
}
.filter-wrapper {
  padding:20px 0;
}

.react-filter > .MuiFormControlLabel-label,
.wp-filter > .MuiFormControlLabel-label {
  position:relative;
  display:flex;
  align-items:center;
}
.react-filter > .MuiFormControlLabel-label:before {
  content:url('../src/assets/img/react-vector.svg');
  margin-right:5px;
  height:22px;
}
.wp-filter > .MuiFormControlLabel-label:before {
  content:url('https://img.icons8.com/ios/20/607B96/wordpress--v1.png');
  margin-right:5px;
  height:22px;
}
.menu-btn.open > .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  
}
.menu-btn.open > .menu-btn__burger:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open > .menu-btn__burger:after {
  transform: rotate(-45deg) translate(35px, 35px);
}
#simplemde-editor-2-wrapper {
  padding-top: 30px;
}
.EasyMDEContainer {
  max-height:500px;
  width:90%;
  border:1px solid black;
  padding:10px;
  margin:0 auto;
}
.CodeMirror-line > span,
.CodeMirror-line > span > * {
  color:black;
}
.MuiFormControl-root.MuiTextField-root {
  width:80%;
  margin:0 auto;
  border:1px solid white;
  display:block;
}
.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root {
  margin:15px auto !important; 
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.MuiInputLabel-root.MuiInputLabel-formControl {
  color:white !important;
}
.mobile {
  display:none;
}
@media (max-device-width:768px) {
  .desktop {
    display:none !important;
  }
  .mobile {
    display:block;
  }
}